/*universal*/
html {
  scroll-behavior: smooth;
  overflow-x: none;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #dedede;
  border-left: 2px solid #1d1c1c;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #1d1c1c;
  transition: color 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7a30;
  transition: color 0.3s ease;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #dedede;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Fonts*/
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h4,
p {
  font-weight: 400;
}

/*Fonts-header*/
.header-div-1 > h4 {
  font-size: 2rem;
  font-weight: 800;
}

.header-div-2 > div > a,
.header-div-2 > h4 {
  font-size: 1rem;
}

.hero-box-1 > h3 {
  font-weight: 400;
}

/*Fonts-hero & (advantages & about us section)*/
h1 {
  font-size: 9.4rem;
  font-weight: 600;
}

h3 {
  font-size: 4.6rem;
  font-weight: 600;
}

.parg {
  font-size: 2rem;
}

h2 {
  font-size: 6.8rem;
  font-weight: 600;
}

/*Fonts-footer*/
h4,
.section-btn {
  font-size: 3.2rem;
  flex-shrink: 0;
  line-height: 1.2;
}

/*Button or <a>*/
.btn {
  color: #551a8b;
  display: inline-block;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.btn:hover {
  color: #ff7a30;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
  transform: scale(1.06);
}

/*header section*/
.header {
  height: 4.6svh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: #dedede;
  border-bottom: 2px solid #1d1c1c;
}

.header-div-1,
.header-div-2 {
  flex: 1;
}

.header-div-1 {
  height: 100%;
  margin-left: 1%;
  display: flex;
}

.header-div-2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  margin-right: 1%;
}

.header-div-2 > div {
  display: flex;
  gap: 1rem;
}

/*hero section*/
.hero {
  height: 100svh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.hero-box-1 {
  grid-column: 2/8;
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}

.hero-box-2 {
  grid-column: 2/8;
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero-box-3 {
  grid-column: 1/9;
  grid-row: 4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 2%;
}

/*advantages & about us section*/
.advant-abt-container {
  height: 100svh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.advant-abt-box-1 {
  grid-row: 1;
}

.advant-abt-box-2 {
  grid-row: 2;
}

.advant-abt-box-3 {
  grid-row: 3;
}

.advant-abt-box-4 {
  grid-row: 4;
}

.advant-abt-box-1,
.advant-abt-box-3 {
  grid-column: 2/8;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
}

.advant-abt-box-2,
.advant-abt-box-4 {
  grid-column: 5/8;
  height: 100%;
  width: 100%;
  display: flex;
}

/*pricing section*/
.pricing-container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.pricing-parag {
  margin: 0 20%;
}

.modal {
  /* Position and visibility */
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  /* Initial closed state */
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9); /* Start slightly smaller for scale transition */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.modal.show {
  /* Open state */
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.modal-content {
  height: 500px;
  width: 400px;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #dedede;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  z-index: 2;
  border: 2px solid #1d1c1c;
}

/* Close Button inside Modal */
#closeBtn {
  top: 1rem;
  right: 1rem;
  display: inline-block;
  position: absolute;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #1d1c1c;
  transition: color 0.3s;
  line-height: 1;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

#closeBtn:hover {
  color: #ff7a30;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.modal-content-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.input-text {
  font-size: 1.4rem;
}

.modal-content-box-3 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content-box-3 > p {
  font-size: 3rem;
  font-weight: 600;
}

/* Base input styling */
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #1d1c1c;
  border-radius: none;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Change border color when hovered */
input:hover {
  transition: color 0.3s ease;
  border-color: #ff7a30;
}

/*footer section*/
.scroller {
  width: 100%;
  height: 90px;
  position: relative;
  overflow: hidden;
}

.item {
  position: absolute;
  left: 100%;
  animation: scroll 20s infinite linear;
  white-space: nowrap;
}

.item-1 {
  animation-delay: 0ms;
}

.item-2 {
  animation-delay: 3.3s;
}

.item-3 {
  animation-delay: 6.6s;
}

.item-4 {
  animation-delay: 9.9s;
}

.item-5 {
  animation-delay: 13.2s;
}

.item-6 {
  animation-delay: 16.5s;
}

.scroller.paused .item {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    left: -200px;
  }
}

/*dynamic setting*/
@media (max-width: 1199.98px) {
  /*header section*/
  .header-div-1 {
    align-items: center;
  }

  /*advantages & about us section*/
  .advant-abt-container {
    gap: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 1549.98px) {
  /*fonts*/
  h2 {
    font-size: 6rem;
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /*fonts*/
  .header-div-1 > h4 {
    font-size: 1.2rem;
  }

  .header-div-2,
  .header-div-2 > div {
    gap: 0.4rem;
  }

  .header-div-2 > div > a,
  .header-div-2 > h4 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 5.2rem;
  }

  .parg {
    font-size: 0.8rem;
  }

  h4,
  .section-btn {
    font-size: 1rem;
  }

  /*hero section*/
  .hero-box-3 {
    margin-top: 8%;
  }

  .modal-content {
    width: 260px;
  }

  /*footer section*/
  .scroller {
    height: 36px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* styles for small phones */

  /*fonts*/
  .header-div-1 > h4 {
    font-size: 1.4rem;
  }

  .header-div-2,
  .header-div-2 > div {
    gap: 0.6rem;
  }

  .header-div-2 > div > a,
  .header-div-2 > h4 {
    font-size: 0.92rem;
  }

  h3 {
    font-size: 4rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  .parg {
    font-size: 1.2rem;
  }

  h4,
  .section-btn {
    font-size: 1.4rem;
  }

  /*hero section*/
  .hero-box-3 {
    margin-top: 5.2%;
  }

  /*footer section*/
  .scroller {
    height: 54px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* styles for tablets */

  /*fonts*/
  .header-div-1 > h4 {
    font-size: 1.6rem;
  }

  .header-div-2,
  .header-div-2 > div {
    gap: 0.8rem;
  }

  .header-div-2 > div > a,
  .header-div-2 > h4 {
    font-size: 0.94rem;
  }

  h3 {
    font-size: 4.2rem;
  }

  h1 {
    font-size: 6.2rem;
  }

  .parg {
    font-size: 1.6rem;
  }

  h4,
  .section-btn {
    font-size: 1.8rem;
  }

  /*hero section*/
  .hero-box-3 {
    margin-top: 4.6%;
  }

  /*footer section*/
  .scroller {
    height: 64px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* styles for small desktops */

  /*fonts*/
  h3 {
    font-size: 4rem;
  }

  h1 {
    font-size: 6.2rem;
  }

  .parg {
    font-size: 1.8rem;
  }

  h4,
  .section-btn {
    font-size: 2rem;
  }

  /*footer section*/
  .scroller {
    height: 72px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1549.98px) {
  /*fonts*/
  h3 {
    font-size: 4rem;
  }

  h1 {
    font-size: 6.6rem;
  }

  h4,
  .section-btn {
    font-size: 2.4rem;
  }
}
